.top-navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
}

button {
    margin: 10px 20px;
}

.top-navbar button {
    text-decoration: none;
    font-size: larger;
    padding: 10px 20px;
    margin-top: 10px;
}

.top-navbar a:hover {
    color: #ff9900;
}

.ngbHeader {
    width: 89%;
}

.btnarea {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
}