<nav class="top-navbar">
  <button mat-button color="warn" (click)="openOffCan(content)">
    PMAI
  </button>
	<button *ngIf="getSessionRole() == null" mat-raised-button (click)="openLogin()">
		Login
	</button>
  <button *ngIf="getSessionRole() != null" mat-raised-button (click)="logout()">
		Logout
	</button>
</nav>
<!--Offcanvas for area and camera selection-->
<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title">Select area</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
    <!--Implement ngFor to take areas and associated cameras from DB-->
    <div ngbAccordion #accordion="ngbAccordion">
      <div ngbAccordionItem="first">
        <h2 ngbAccordionHeader class="ngbHeader">
          <button ngbAccordionButton>Sásová</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <button mat-button>
                Severná Cam1
              </button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
	</div>
</ng-template>
<router-outlet></router-outlet>
