  <nav class="top-navbar">
    <button mat-button color="warn" (click)="openOffCan(content)">
      PMAI
    </button>
    <button *ngIf="getSessionRole() == null" mat-raised-button (click)="openLogin()">
      Login
    </button>
    <button *ngIf="getSessionRole() == 'ADMIN'" mat-raised-button (click)="navigateConfig()">
      Configure
    </button>
    <button *ngIf="getSessionRole() != null" mat-raised-button (click)="logout()">
      Logout
    </button>
  </nav>

<!--Offcanvas for area and camera selection-->
<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title">Select area</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
    <!--Implement ngFor to take areas and associated cameras from DB-->
    <div *ngFor="let area of areas" ngbAccordion #accordion="ngbAccordion">
      <div ngbAccordionItem="{{ area.name }}">
        <h2 ngbAccordionHeader  class="ngbHeader">
          <button ngbAccordionButton>{{ area.name }}</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <div *ngFor="let camera of cameras">
              <button *ngIf="camera.areaId.id == area.id" mat-button>
                {{ camera.name }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</ng-template>
<router-outlet></router-outlet>
